<div class="row">
  <%= render partial: 'common/left_side_bar' %>
  <div class="col-md-9">
    <div class="row">
      <h5><br/><br/>You can email us on: 1991sahilchopra@gmail.com</h5>
    </div>
</div>
